.heading-medium {
    font-size: 16px;
}

.heading-big {
    font-size: 22px;
    color: #2278CC;
}

.text-brand-blue {
    color: #2278CC;
}


.veritas-text-big {
    background: linear-gradient(45deg, #C1DCFF, #C0C7FF, #0900FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.max-width-param {
    max-width: 60vw;
}

.the-phone-class {
    transition: 0.3s ease;
}

.the-phone-class:hover {
    transform: scale(1.05);
}

.the-phone-class-s {
    transition: 0.3s ease;
}

.the-phone-class-s:hover {
    transform: scale(1.025);
}

.veritas-text-big {
    padding-top: 5vh;
    font-size: 18vw;
}