
.the-problem {
    margin-top: 15vh;
    transform: scale(0.9);
}

.the-logo {
    width: auto;
    margin-top: 0.2vw;
    height: 3.3vw;
}

.individual-tickets {
    margin-top: 25vh;
    margin: 0 5vw;
}

.the-ticket {
    border-radius: 1.75vw;
    transition: 0.3s;
}

.the-ticket:hover {
    transform: scale(1.05);
}

.ticket-width {
    @apply max-w-[80vw] md:max-w-[20vw];
}

.the-font-text {
    font-size: 3.5vw;
    padding-left: 0.5vw;
}

.text-effect {
    background-color: #555555;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.597);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.text-effect-b {
    background-color: #808dff;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.nav-mini-text {
    font-size: 12px;
    margin: 0 8px;
    white-space: nowrap;
}

.nav-mini-text-b {
    font-size: 12px;
}

.nav-l {
    padding: 14px 20px;
    border-style: solid;
    border-color: #5b616539;
    border-width: 2px;
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee6d;
    backdrop-filter: blur(7.5px);
}

.nav-r {
    padding: 14px 20px;
    border-style: solid;
    border-color: #207bb739;
    border-width: 2px;
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3ffcb;
    margin-left: 0.25vw;
    backdrop-filter: blur(5px);
}

.the-header-adjustment {
    padding: 2vw 4vw;
}

.underline-effect {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline-effect::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.465);
    transition: width 0.3s ease-in-out;
}

.underline-effect:hover::after {
    width: 100%;
}

.underline-effect-b {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline-effect-b::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(83, 99, 243, 0.465);
    transition: width 0.3s ease-in-out;
}

.underline-effect-b:hover::after {
    width: 100%;
}

.the-text-main {
    text-align: center;
}

.the-text-minor {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 24px;
}

.fancy-gradient {
    background-image: conic-gradient(
            rgba(8, 4, 130, 0.76) 28%,
            rgba(172, 177, 250, 0.92) 48%,
            rgba(67, 67, 185, 0.96) 79%,
            rgba(119, 126, 216, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.grey-button {
    padding: 8px 24px;
    border-style: solid;
    border-color: #5b616539;
    border-width: 2px;
    border-radius: 3vw;
    background-color: #eeeeee6d;
    margin-left: 0.25vw;
}

.blue-button {
    padding: 8px 24px;
    border-style: solid;
    border-color: #207bb739;
    border-width: 2px;
    border-radius: 3vw;
    background-color: #f3f3ffcb;
    margin-right: 0.25vw;
}

.button-container {
    padding-top: 3vw;
}

.button-hover {
    transition: 0.3s ease;
}

.button-hover:hover {
    transform: scale(1.05);
    opacity: 0.5;
}

.header-text-minor {
    font-size: 22px;
    padding: 84px 32px 32px 32px;
}

@media (min-width: 880px) {
    .nav-mini-text {
        font-size: 17px;
    }

    .nav-mini-text-b {
        font-size: 17px;
    }
}

@media (min-width: 880px) {
    .stand-text-minor {
        font-size: 25px;
    }
}

.stand-text-minor {
    padding: 32px 32px;
    text-align: center;
}

@media (min-width: 880px) {
    .the-dashboard-class {
        width: 55vw;
        margin: 0;
        height: auto;
        transition: 0.3s ease;
        z-index: 0;
    }
}

@media (max-width: 879px) {
    .the-dashboard-class {
        width: 80%;
        margin: 0;
        height: auto;
        transition: 0.3s ease;
        z-index: 0;
    }
}

.the-dashboard-class {
    max-width: 90%;
}


.the-dashboard-class:hover {
    transform: scale(1.02);
}


